* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/drum.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 100vmin;
}

.divkick {
  position: fixed;
  border-radius: 100%;
  width: 15%;
  height: 15%;
  top: 52%;
  left: 36%;

  background-color: yellow;
}

.divcrash {
  background-color: aqua;
}

button {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 1;
}
